<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
<h1>Welcome, {{ user.username }} </h1>
<h2><a href="{% url 'auth_back:logout' %}">Log out</a></h2>
<form method="post" id="passform">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" name="generate" value="true" formmethod="post">Generate</button>

    <input name="password" value="{{ password }}" type="hidden">
    <h2>{{password}}</h2>
    {% if password != 'YOUR PASSWORD'%}
    {% endif %}
    <button type="submit" name="save" value="true">save</button>
    <script src="{% static 'assets/js/index.js' %}"></script>
</form>
     <ul>
        {% for i in saved %}

            <li><a href="{% url 'main:delete' pk=i.id %}">{{ i.password }}</a></li>

        {% endfor %}
    </ul>
</body>
</html>